
<section class="hero is-large ">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item">
                  <img src="../../../assets/rset.png" class="image" alt="Logo">
                </a>
                <span class="navbar-burger" data-target="navbarMenuHeroB">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroB" class="navbar-menu">
                <div class="navbar-end">
                  <a href="#" class="navbar-item item is-active">
                    Home
                  </a>
                  <!-- <a class="navbar-item item">
                    Examples
                  </a> -->
                  <a href="#execom" class="navbar-item item">
                    Execom
                  </a>
                  <a  href="#event" class="navbar-item item">
                    Events
                  </a>
                  <a  href="#footer" class="navbar-item item">
                    Contact Us
                  </a>
            
                </div>
              </div>
            </div>
          </nav>
    </div>
    <div id="stripes">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    <div class="hero-body has-text-white ">
        
        <div class="container ">
            <div class="columns is-vcentered">
                <div class="column has-text-centered">
                    <div class="container has-text-white">
                        <p class="title is-1 has-text-white">
                            ASME RSET
                        </p>
                        <p class="subtitle has-text-weight-light has-text-white">
                            As engineers, we are going to be in a position to change the world – not just study it.
                        </p>
                        <button class="button is-dark is-rounded">Join Now</button>
                    </div>
                 
                </div>
                <!-- <div class="column bg">
                    <figure class="is-256x256">
                        <img
                          src="../assets/hero1.jpg"
                          class="image"
                          style="border-radius: 5px"
                        />
                      </figure>
                </div> -->
               
            </div>
       
        </div>
      </div>
    
      <!-- <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
          
          </div>
        </nav>
      </div> -->
    </section>