<app-navbar></app-navbar>

<section class="hero is-medium has-background-black">
  
  <div class="hero-body">
    
    <div class="container has-text-white">
      <div class="columns">
        <div class="column ">
          <h2 class="has-text-weight-light is-size-6 has-text-info-light">
            To Bring Inspiration & Innovation
          </h2>
          <h1 class="title is-1 has-text-white ">Mission</h1>
          <!-- <div class="mission">
            <span></span>
          </div> -->
        </div>
        <div class="column">
          <h5 class="has-text-weight-normal is-size-5 has-text-centered">
            To serve diverse global communities by advancing, disseminating and
            applying engineering knowledge for improving the quality of life;
            and communicating the excitement of engineering
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
         

          <h5 class="has-text-weight-light has-text-centered is-size-4 pt-6">
            To serve diverse global communities by advancing, disseminating and
            applying engineering knowledge for improving the quality of life;
            and communicating the excitement of engineering
          </h5>
        </div>
        <div class="column vision has-text-right">
          <figure>
            <img
              src="../assets/hero2.jpg"
              class="image"
              style="border-radius: 5px"
            />
          </figure>
          <h2 class="has-text-weight-light is-size-6 has-text-dark">
            To Bring Inspiration & Innovation
          </h2>
          <h1 class="title is-1">Vision</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<app-execom></app-execom>
<app-events></app-events>
<div id="stripes">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<!-- <br><br><br><br> -->
<app-footer></app-footer>