
<section class="hero is-medium">
    <div id="stripes">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    <h1 class="has-text-centered has-text-white is-size-1 has-text-weight-bold">Execom <span class="has-text-weight-light is-size-4">(2020-21)</span></h1>
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns vision is-multiline is-vcentered is-centered">
          <div class="column is-one-third">
            <figure class="image is-256x256">
              <img class="is-square" src="../assets/hari.JPG" />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">Hariprasad U</div>
              <div class="subtitle is-size-6">Secretary</div>
            </div>
          </div>
          <div class="column is-one-third">
            <figure class="image is-256x256">
              <img class="is-square" src="../assets/joshuv.jpeg" />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">Joshua Mathew Jacob</div>
              <div class="subtitle is-size-6">Chairman</div>
            </div>
          </div>
          <div class="column is-one-third">
            <figure class="image is-256x256">
              <img class="is-square" src="../assets/akhil.jpeg" />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">Akhil Balu</div>
              <div class="subtitle is-size-6">Vice Chair</div>
            </div>
          </div>
  
          <div class="column is-one-quarter">
            <figure class="image is-1by1">
              <img class="is-square" src="../assets/Alan.jpeg" />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">Alan George</div>
              <div class="subtitle is-size-6">Convenor</div>
            </div>
          </div>
  
          <div class="column is-one-quarter">
            <figure class="image is-1by1">
              <img class="is-square" src="../assets/irine.jpeg" />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">Irine Acha</div>
              <div class="subtitle is-size-6">Joint secretary</div>
            </div>
          </div>
  
          <div class="column is-one-quarter">
            <figure class="image is-1by1">
              <img class="is-square" src="../assets/Jerin Photo.JPG" />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">Jerin P Raju
              </div>
              <div class="subtitle is-size-6">Editorial Head</div>
            </div>
          </div>
  
          <div class="column is-one-quarter">
            <figure class="image is-1by1">
              <img class="is-square" src="../assets/akshay.jpeg" />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">Akshay Krishnan 
              </div>
              <div class="subtitle is-size-6">Publicity Head</div>
            </div>
          </div>
  
          <div class="column is-one-quarter">
            <figure class="image is-1by1">
              <img class="is-square" src="../assets/vinish.jpeg" />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">Vinish M K
              </div>
              <div class="subtitle is-size-6">HPVC Captain</div>
            </div>
          </div>
  
          <div class="column is-one-quarter">
            <figure class="image is-1by1">
              <img class="is-square" src="../assets/ummu.jpeg" />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">Ummu Aysha
              </div>
              <div class="subtitle is-size-6">HPVC Vice Captain</div>
            </div>
          </div>
  
          <div class="column is-one-quarter">
            <figure class="image is-1by1">
              <img class="is-square" src="../assets/anson.jpeg" />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">Anson Joy
              </div>
              <div class="subtitle is-size-6">Treasurer</div>
            </div>
          </div>
  
          <div class="column is-one-quarter">
            <figure class="image is-1by1">
              <img class="is-square" src="../assets/akhil.jpeg" />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">Paul Sebastian
              </div>
              <div class="subtitle is-size-6">TechnicalHead</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  