
<section id="execom" class="hero is-medium">
    <div id="stripes">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    <h1 class="has-text-centered has-text-white is-size-1 has-text-weight-bold">Execom <span class="has-text-weight-light is-size-4">(2020-21)</span></h1>
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns  is-8 vision is-multiline is-vcentered is-centered">

          <div class="column is-one-third" *ngFor="let l of teamLead">
            <figure class="image is-4by5">
              <img class="is-square" [src]=l.image />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">{{l.name}}</div>
              <div class="designation">
                <div class="subtitle is-size-6">{{l.designation}}</div>
              </div>
              
            </div>
          </div>
       
  
          <div class="column is-one-quarter is-3" *ngFor="let t of teamMember">
            <figure class="image is-1by1">
              <img class="is-square" [src]=t.image />
            </figure>
            <div class="pt-4">
              <div class="title is-size-4">{{t.name}}</div>
              <div class="designation">
              <div class="subtitle is-size-6">{{t.designation}}</div>
              </div>
            </div>
          </div>
  
       
        </div>
      </div>
    </div>
  </section>
  