

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors

$black: #1B1B1B;
$blue: #3423A6;
// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
$primary: $black;
$link: $blue;
$danger: #EF3E36;


// Update some of Bulma's component variables
// $body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: #f3f5fa;
$input-shadow: none;




/*Global Styles*/

// html, body {
//   height: 100%;
//   font-size: 18px;
//   // overflow: hidden;
// }
