.footer{
    background-color: white;
    border-radius: 0px 60px 0px 0px ;
    margin: 0 0 1%;
    // background: #e0e0e0;
    box-shadow:  5px 5px 10px #3d3d3d;
    transform: skewY(-2deg);
}
.social{
    display: inline;
}
i{
    color: #4c29ff;
}