.footer{
    background-color: white;
    border-radius: 5px;
    margin: 1%;
    // background: #e0e0e0;
    box-shadow: 2px2px 58px #dedede,
                 -29px -29px 58px #e2e2e2;
}
.social{
    display: inline;
}