<footer id="footer" class="footer">
    <div class="container">

    
    <div class="columns is-vcentered">
        <div class="column">
            <h1 class="is-size-5  has-text-dark has-text-weight-semibold">Address</h1>
               
                <Address>
                    Rajagiri School of Engineering & Technology, Kochi
                </Address>
          

        </div>
        <div class="column">

               <h1 class="is-size-5  has-text-dark has-text-weight-semibold">Follow Us On</h1>
               <br>
               <div class="columns is-mobile is-centered has-text-centered">
                <div class="media-left">
                    <i class="fab fa-facebook fa-2x "></i>
                  </div>
                  <div class="media-left">
                    <i class="fab fa-instagram-square fa-2x "></i>
                  </div>
                  <div class="media-left">
                    <i class="fab fa-linkedin fa-2x "></i>
                  </div>
               </div>
              
        </div>
    </div>
</div>
</footer>